.strengths .container {
    display: block;
  }
  .strengths-list,
  .strengths-list-icons {
    display: flex;
  }
  .strengths-list-icons .strengths-list-icons-item {
    display: flex;
  }
  
  .strengths-item:not(:last-child),
  .strengths-list-icons-item:not(:last-child) {
    margin-right: 30px;
  }
  .strengths-list-icons-item {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }
  .strengthsicons {
    width: 70px;
    min-height: 70px;
    margin-left: 100px;
  }
  
  .strengths-title {
    margin-bottom: 10px;
    width: 270px;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .strengths-about {
    width: 270px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description);
  }
  .whatwedo-title,
  .ourteam-title,
  .ourclient-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .whatwedo {
    padding-bottom: 94px;
  }
  .whatwedo-list {
    display: flex;
  }
  
  .whatwedo-list-item:not(:last-child),
  .ourteam-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .whatwedo-list-item {
    position: relative;
  }
  .whatwedo-list-item > .whatwedo-list-about {
    position: absolute;
    bottom: 0px;
    left: -50%;
    right: 50%;
    transform: translate(50%, 0%);
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .whatwedo-list-about {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
  .ourteam {
    background-color: #f5f4fa;
    width: 1600px;
    margin: 0 auto;
  }
  .ourteam-list {
    display: flex;
  }
  .ourteam-list-item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .ourteam-content-wrapper {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
  .ourteam-list-name {
    margin-bottom: 10px;
  }
  .ourteam-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .ourteam-list-job {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description);
    margin-bottom: 16px;
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 206px;
  }
  .social-list-item {
    display: flex;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover,
  .social-list-link:focus {
    fill: var(--white);
    background-color: var(--main-color);
  }
  .social-icon {
    width: 20px;
    height: 20px;
  }
  .ourclient-list {
    display: flex;
    justify-content: space-between;
  }
  .ourclient-list-item:hover,
  .ourclient-list-item:focus {
    fill: var(--main-color);
    border-color: var(--main-color);
  }
  .ourclient-list-item {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--svg-colour);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ourclient-icons {
    width: 106px;
    min-height: 60px;
    margin-left: 32px;
  }