:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #2196f3;
    --text-default: #212121;
    --description: #757575;
    --white: #ffffff;
    --svg-colour: #afb1b8;
  }
  body {
    font-family: var(--main-font);
    color: var(--text-default);
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
  }
  
  p {
    padding: 0;
  }
  
  img {
    display: block;
  }
  