.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.close-btn-vector {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 0 auto;
}
.modal-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.modal-form-title {
  display: flex;
  padding-bottom: 12px;
  min-width: 448px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
}
.modal-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--description);
  padding-bottom: 4px;
}
.modal-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}
.modal-input:focus,
.modal-textarea:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translatey(-50%);
  width: 12px;
  height: 12px;
  fill: var(--text-default);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--main-color);
}
.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}
.modal-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.modal-declaimer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.policy-label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--description);
}
.policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/vectors/vectorunchecked.svg);
}
.modal-checkbox:checked + .policy-label::before {
  background-image: url(../images/vectors/vectotchecked.svg);
}

.modal-policy-linktext {
  color: var(--main-color);
  text-decoration: underline;
}
.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin-top: 30px;
}
