:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #2196f3;
    --text-default: #212121;
    --description: #757575;
    --white: #ffffff;
    --svg-colour: #afb1b8;
  }